body {
    margin: 0;
    background-color: #d6ac9a;
    /* background-image: url(images/background.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  
  /* HEADER/////////////////////////////// */
  #designdiv1{
    position: absolute;
    background-color: rgb(102, 34, 34);
    height:100px;
    width: 100vw
  }
  header{display: flex; justify-content: space-around}
  #rectangle{
    position: relative;
    border-radius: 25px;
    background: #ead5c8;
    width: 60vw;
    height: 100px;
    color: rgb(102, 34, 34);
    text-align: center;
    font-family: Apple Chancery, cursive;
    font-size: 80px;
  }
  #logo{position: absolute; top: 60px; width: 160px; height: 180px; left: 50px}
  
  
  /* TITLES//////////////////////////////////// */
  .introcontainer{display: flex; align-items: center;}
  .intro{
    position:relative;
    text-align: center;
    color: white;
    font-family: Apple Chancery;
    font-size: 25px;
  }
  #hometitle{
    position: relative;
    text-align: center;
    top: 185px;
    font-size: 40px;
    color: white;
    width: 100vw;
    font-family: Apple Chancery, cursive;
    background-color: rgb(102, 34, 34)
  }
  
  /* NAV BAR////////////////////////////////////////////// */
  nav{
    margin: auto;
    position:absolute;
    width: 100%;
    height: 100px;
    background-color: #ead5c8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(108, 41, 95, 0.31)
  }
  nav ul{
    padding: 10px
  }
  nav ul li{
    float: left;
    list-style: none;
    position: relative;
  }
  nav ul li a{
    display: block;
    font-family: arial;
    color: rgb(102, 34, 34);
    font-size: 25px;
    padding: 0px 10px;
    text-decoration: none;
  }
  
  #home{padding-left: 60px; padding-right: 60px}
  #shop{padding-left: 60px; padding-right: 60px}
  #avail{padding-left: 60px; padding-right: 60px}
  #article{padding-left: 60px; padding-right: 60px}
  #cart{padding-left: 60px; padding-right: 60px}
  
  #home:hover{background-color: rgba(108, 41, 95, 0.181); border-radius: 30px;}
  #shop:hover{background-color: rgba(108, 41, 95, 0.181); border-radius: 30px;}
  #avail:hover{background-color: rgba(108, 41, 95, 0.181); border-radius: 30px;} 
  #article:hover{background-color: rgba(108, 41, 95, 0.181); border-radius: 30px;}
  #cart:hover{background-color: rgba(108, 41, 95, 0.181); border-radius: 30px;}
  
 
  nav ul li ul li{
    width: 180px;
    border-radius: 5px;
  }
  nav ul li ul li a{
    padding: 10px 10px;
    font-size: 20px
  }
  nav ul li #availdrop li a:hover{
    background-color: rgb(226, 171, 181);
    width:237px
  }
  nav ul li #shopdrop li a:hover{
    background-color: rgb(226, 171, 181);
    width:160px
  }
  nav ul li #articledrop li a:hover{
    background-color: rgb(226, 171, 181);
    width:160px
  }
  /* //// SEARCH BAR */
  
  form {
    background-color: rgba(108, 41, 95, 0.31);
    width: 200px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  ::placeholder {
    color: #fff;
    opacity: 0.7; 
  }
  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: #fff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }
  
  /* MAIN BODY////////////////////////////////////////////// */
  #bgcontainer{
    display: flex;
    justify-content: center;
  }
  #backgrounddiv{
    position: absolute;
    background-color: #b77f73d3;
    height: 200vh;
    width: 80%;
  }
  main{
    height: 120vh
  }
  
  #randomBunDiv {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
#randomBunBtn {
    background-color: pink;
    color: rgb(102, 34, 34);
    border-color: pink;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    margin-top: 80px
}
#firstBunRow{
  position: relative;
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px
}
.bunImg{
    display: block;
    height: 100px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.304)
}
.bunCard {
    background-color: rgb(255, 222, 227);
    color: rgb(0, 0, 0);
    height:250px;
    width: 200px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.344);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .4s;
}
.link {
    background-color: rgb(255, 122, 144);
    padding: 5px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.215)
}
.click{
    text-decoration: none;
    color: rgb(46, 46, 46);
    background-color: rgba(255, 122, 144, 0.402);
    padding: 5px;
    border-radius: 5px
}
div .bunCard:hover{
    transform: scale(1.2);
    z-index: 2;
}


  /* FOOTER///////////////////////////////////////////// */
  
  footer{
    position: absolute;
    background-color: pink;
    top: 1500px;
    height: 200px; 
    width: 100vw
  }