@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    margin: 0;
    background-color: #d6ac9a;
    /* background-image: url(images/background.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
}
#logo{position: absolute; top: 60px; width: 160px; height: 180px; left: 50px}

#userFormBox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textbox{
    width: 200px
}



